body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    line-height: 1.5;
}