.node {
  -webkit-user-select: none;
  user-select: none;
  will-change: transform;
}

.node foreignObject {
  overflow: visible;
}

.node-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
}

.light-theme .node-content {
  background-color: var(--node-background-light);
  border: none;
}

.dark-theme .node-content {
  background-color: var(--node-background-dark);
  border: none;
}

.node.selected > foreignObject > .node-content {
  border: 2px solid grey;
}

.node.pinned > foreignObject > .node-content {
  border: 2px solid #1c7ed6;
}

.node-content textarea,
.node-content {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  background: transparent;
  color: inherit;
}

.node-content textarea:focus,
.node-content {
  outline: none;
}

.light-theme .container-node {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dark-theme .container-node {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4), 0 8px 10px 1px rgba(0, 0, 0, 0.28), 0 3px 14px 2px rgba(0, 0, 0, 0.24);
}

.resizer {
  visibility: hidden;
  background-color: #1c7ed6;
  cursor: nwse-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  min-width: 4px;
  min-height: 4px;
  z-index: 10;
}

.node.selected > foreignObject > .node-content > .resizer {
  visibility: visible;
}

.layout-small.node-content {
}

.node-content:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: rgba(125, 125, 125, 0.5);
}
