@import url('codebox.css');
@import url('notebox.css');
@import url('path.css');
@import url('image.css');
@import url('textbox.css');
@import url('container.css');
@import url('titlebox.css');
@import url('header.css');
@import url('node.css');
@import url('line.css');
@import url('toolbar.css');
@import url('fontawesome.css');

:root {
  --background-color-light: #ffffff;
  --text-color-light: #16191f;
  --node-background-light: #ffffff;
  --node-border-light: #d5dbdb;
  --node-shadow-light: none;

  --codebox-bg-light: #bbbbbb;
  --codebox-bg-dark: #2b3035;

  --background-color-dark: #0f1b2a;
  --text-color-dark: #d1d5db;
  --node-background-dark: #161e2d;
  --node-border-dark: #414750;
  --node-shadow-dark: none;
  --zoom-scale: 1;
  --sidebar-width: 250px;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Lt.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Rg.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Md.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Bd.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember Display';
  src: url('./fonts/AmazonEmberDisplay_Bd.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon Ember Display';
  src: url('./fonts/AmazonEmberDisplay_Md.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.light-theme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  --node-color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  --node-color: var(--text-color-dark);
}

#editor-container {
  height: 100vh;
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100%;
}
