.titlebox-content {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Amazon Ember Display', sans-serif;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.titlebox-content[contenteditable="true"] {
  cursor: text;
  background: rgba(0,0,0,0.05); /* Slight highlight when editing */
  border-radius: 4px;
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: clip;
}

.titlebox-content::-webkit-scrollbar {
  display: none;
}

.titlebox-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.titlebox-content:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: rgba(125, 125, 125, 0.5);
}

.titlebox-container {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.node.selected > foreignObject > .titlebox-container {
  border: 2px solid grey !important;
}
