.toolbar {
  position: fixed;
  top: 30%;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  z-index: 100;
  background-color: #bbb;
  padding: 10px 8px;
  border-radius: 8px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
}

.toolbar-item {
  cursor: pointer;
  font-size: 1.2em;
  user-select: none;
}

.toolbar-item-img {
  cursor: pointer;
  user-select: none;
  width: 20px;
  height: 20px;
}

.dark-theme .toolbar-item-img {
  filter: invert(100%);
}

.dark-theme .toolbar {
  background-color: #2b3035;
}
